body {
  background-color: #ff6EC7; /* Light pink */
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  color: #333;
}

p {
  color: #444;
}
