body {
  background-color: #ff6EC7; /* Light pink */
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
  color: #fff; /* Makes all text white */
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

p {
}
